In [1]:
import numpy as np
import pandas as pd

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is FC91-C721

 Directory of C:\Users\HP

29-06-2023  12:30 PM    <DIR>          .
28-06-2023  12:38 PM    <DIR>          ..
27-02-2022  03:27 PM    <DIR>          .android
30-01-2023  10:17 PM    <DIR>          .conda
01-06-2021  12:59 PM                25 .condarc
01-06-2021  12:59 PM    <DIR>          .continuum
29-06-2023  12:16 PM    <DIR>          .ipynb_checkpoints
01-06-2021  01:01 PM    <DIR>          .ipython
01-06-2021  01:26 PM    <DIR>          .jupyter
28-06-2023  05:46 PM    <DIR>          .matplotlib
19-03-2022  10:56 AM    <DIR>          .MemuHyperv
20-06-2023  12:41 PM    <DIR>          .ms-ad
18-03-2022  11:31 PM             6,879 -1.14-windows.xml
11-03-2021  09:50 PM    <DIR>          3D Objects
30-01-2023  11:52 PM    <DIR>          anaconda3
29-06-2023  12:16 PM           936,463 anime.csv
28-06-2023  08:33 PM             3,529 Cars.csv
28-06-2023  12:43 PM    <DIR>          Contacts
28-06-2023  05:21 PM           150,034 Crop_recommendation.csv
28-06-2023  12:43 PM    <DIR>          Desktop
28-06-2023  12:43 PM    <DIR>          Documents
29-06-2023  12:09 PM    <DIR>          Downloads
28-06-2023  12:43 PM    <DIR>          Favorites
28-06-2023  07:48 PM               751 Forecasting.ipynb
28-06-2023  12:43 PM    <DIR>          Links
28-06-2023  09:28 PM            58,368 Multi linear regression.ipynb
28-06-2023  12:43 PM    <DIR>          Music
03-06-2021  08:50 PM    <DIR>          my python stuff
10-12-2022  05:22 PM    <DIR>          OneDrive
28-06-2023  07:26 PM               589 Optimizing Agricultural production.ipynb
28-06-2023  12:43 PM    <DIR>          Pictures
03-06-2021  11:29 AM    <DIR>          PycharmProjects
28-06-2023  12:43 PM    <DIR>          Saved Games
28-06-2023  12:43 PM    <DIR>          Searches
28-06-2023  05:11 PM    <DIR>          Untitled Folder
30-01-2023  10:28 PM                72 Untitled.ipynb
29-06-2023  12:30 PM               779 Untitled1.ipynb
28-06-2023  12:43 PM    <DIR>          Videos
              10 File(s)      1,157,489 bytes
              28 Dir(s)  28,041,236,480 bytes free

In [4]:
data = pd.read_csv("anime.csv")

In [5]:
data.shape

(12294, 7)

In [6]:
data.head(5)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [7]:
data.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [11]:
data.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [12]:
data.dropna(inplace = True)

In [14]:
data.head(5)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [15]:
data.duplicated().sum()

0

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
ratings_data = pd.read_csv('ratings.csv')

# Create a user-movie matrix
user_movie_matrix = ratings_data.pivot(index='userId', columns='movieId', values='rating').fillna(0)

# Compute the cosine similarity between movies
movie_similarity = cosine_similarity(user_movie_matrix.T)

# Function to get movie recommendations for a user
def get_movie_recommendations(user_id, top_n=5):
    user_ratings = user_movie_matrix.loc[user_id].values
    similarity_scores = movie_similarity.dot(user_ratings)
    sorted_indices = similarity_scores.argsort()[::-1]
    top_indices = sorted_indices[:top_n]
    recommended_movies = [user_movie_matrix.columns[i] for i in top_indices]
    return recommended_movies

# Get movie recommendations for user with ID 1
recommendations = get_movie_recommendations(1, top_n=5)
print(recommendations)

In [19]:
user_movie_matrix = data.pivot(index='anime_id',columns='name', values='rating').fillna(0)

In [20]:
movie_similarity = cosine_similarity(user_movie_matrix.T)

In [22]:
def get_movie_recommendations(anime_id, top_n=5):
    user_ratings = user_movie_matrix.loc[anime_id].values
    similarity_scores = movie_similarity.dot(user_ratings)
    sorted_indices = similarity_scores.argsort()[::-1]
    top_indices = sorted_indices[:top_n]
    recommended_movies = [user_movie_matrix.columns[i] for i in top_indices]
    return recommended_movies

recommendations = get_movie_recommendations(1, top_n=10)
print(recommendations)

['Cowboy Bebop', '◯', 'Himitsu no Akko-chan 3', 'Himitsu no Akko-chan 2', 'Himitsu no Akko-chan (Movie)', 'Himitsu no Akko-chan', 'Himitsu Spark', 'Himiko-den', 'Himeyuri', 'Himesama Goyoujin']

In [25]:
recommendations_df = pd.DataFrame(recommendations, columns=['Movie'])
print(recommendations_df)

                          Movie
0                  Cowboy Bebop
1                             ◯
2        Himitsu no Akko-chan 3
3        Himitsu no Akko-chan 2
4  Himitsu no Akko-chan (Movie)
5          Himitsu no Akko-chan
6                 Himitsu Spark
7                    Himiko-den
8                      Himeyuri
9             Himesama Goyoujin

In [26]:
from flask import Flask, render_template